@import "tailwindcss";

@theme {
  --font-sans: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
  --font-grotesk: "Space Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  --color-brand: #038387;
  --color-brand-dark: #005b70;
  --color-brand-green: #37a987;
}
